<!DOCTYPE html>
<html>
<body>

<h2>What concept do you need help with?</h2>

<form action="/views/search-results" method="post">
  Topic:<br>
  <select name="topic">
    <option value="Variables_and_Functions">Variables and Functions</option>
    <option value="Control">Control</option>
    <option value="WWPD">What Would Python Display</option>
    <option value="Environment_Diagrams">Environment Diagrams</option>
    <option value="Higher_Order_Functions">Higher Order Functions</option>
    <option value="Lambda_Expressions">Lambda Expressions</option>
    <option value="Recursion">Recursion</option>
    <option value="Tree_Recursion">Tree Recursion</option>
    <option value="Data_Abstraction">Data Abstraction</option>
    <option value="Orders_of_Growth">Orders of Growth</option>
    <option value="Lists">Lists</option>
    <option value="Trees">Trees</option>
    <option value="nonlocal">Nonlocal</option>
    <option value="OOP">Object Oriented Programming</option>
    <option value="Scheme">Scheme</option>
    <option value="Scheme_Lists">Scheme Lists</option>
    <option value="Linked_Lists">Linked Lists</option>
    <option value="Tail_Recursion">Tail Recursion</option>
    <option value="Interpreters">Interpreters</option>
    <option value="Macros">Macros</option>
    <option value="Iterators_and_Generators">Iterators and Generators</option>
    <option value="Streams_in_Scheme">Streams in Scheme</option>
    <option value="mySQL">SQL</option>
    <option value="MISC">Something Else</option>
  </select>
  <br>
  <input type="submit" value="Search">
</form> 

</body>
</html>

