<html>
  <head>
  	<link href="/css/styles.css" rel="stylesheet" type="text/css">
  	<title><%= topic %></title>
</style>
  </head>
  <body>
    <p> welcome <%= topic%> </p>

    <ul>
    <% Array.from(lin).forEach(function(name) { %>
        <li><%= name %> </li>
    <% }); %>
</ul>
  </body>
</html>