<html>
  <head>
  	<style>
  	<link href="/css/styles.css" rel="stylesheet" type="text/css">
  	<title><%= topic %></title>
</style>
  </head>
  <body>
    <p> welcome <%= topic%> </p>

    <ul>
    <% Array.from(lin).forEach(function(name) { %>

    	<a href="/worksheets/<%= name%>.docx"  download>
		<button><%= name %></button>
		</a>
      
    <% }); %>
</ul>
  </body>
</html>